DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=*

POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword

DJANGO_SUPERUSER_USERNAME=your-username
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=your-password